/*
 Document
*/

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-word;
}

a:link, a:visited {
  color: #2196F3;
  text-decoration: underline;
}

a:hover {
  color: #FFAA00;
}

blockquote {
  margin-left: 10px;
  padding-left: 40px;
  border-left: 2px #2196F3 solid;
}

h1,h2,h3,h4,h5,h6 {
 line-height: 1.2;
 font-weight: 500;
 margin-top: 0;
 margin-bottom: 0;
}

h1 { font-size: 50px; }
h2 { font-size: 28px; }
h3 {
  color: #555555;
  font-size: 22px;
}

nav {
  box-sizing: border-box;
  /* Total width = 60px + 840px + 60px = 960px */
  width: 840px;
  padding: 60px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/*
  Shared
*/

code.inline {
  padding: 2px 4px;
  color: #c7254e;
  font-size: 90%;
  background-color: #f9f2f4;
  border-radius: 4px;
}

ul.bulleted {
  list-style-type: circle;
}

/*
  Navigation
*/

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.nav-container .brand {
  color: #2196F3;
  font-size: 32px;
}

.nav-container .brand a {
  text-decoration: none;
}

.nav-container .brand a:hover {
  color: inherit;
}

.nav-container .brand span.highlight {
  color: #FFAA00;
}

.nav-container .links {
  margin-left: auto;
}

.nav-container .links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  color: #888888;
}

.nav-container .links li {
  height: 50px;
  margin: 0 3px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
}

.nav-container .links li:hover {
  background-color: #EEEEEE
}

.nav-container .links li a {
  box-sizing: border-box;
  padding: 21px 10px;
  color: inherit;
  text-decoration: none;
}

.nav-container .links li:hover a {
  color: #555555;
}

/*
  Mobile
*/

@media all and (max-width: 960px) {
  nav {
    width: 80%;
    padding: 60px 0;
  }
}

@media all and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-container .links {
    margin-left: 0;
  }
}
