body {
  background-color: #111111;
  color: #E8E8E8;
  font-size: 22px;
  line-height: 36px;
}

/*
  Content
*/

#content {
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
  padding: 60px;
}

.blog-index {
  margin-bottom: 40px;
}

/*
  Article Header
*/

.article-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 40px;
}

.article-header .title h1 {
  margin: 10px 0;
}

.article-header .byline time {
  color: #888888;
  font-size: 14px;
}


/*
  Article Content
*/

.article-content h1, h2, h3 {
  margin-top: 50px;
  margin-bottom: 25px;
}

li {
  margin-bottom: 15px;
}

p {
  margin: 32px 0;
}

p.note {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  color:  black;
  background-color: #F0F0E0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.article-content img {
  width: 100%;
}

/*
  Highlight.js
 */

/*
  Target only standalone hljs snippets, and avoid
  the code blocks defined by vanilla-tree-viewer
 */
code[class*="language-"],
pre[class*="language-"] {
  font-size: 20px;
  line-height: 36px;
}

/*
  VanillaTreeViewer
*/

.vtv {
  /*
    Disable default shadow - doesn't  work well
    on dark background
  */
  box-shadow: none;
}
.vtv-node {
  width: 100%;
  margin: 40px auto;
}

/*
  Mobile
*/

@media all and (max-width: 960px) {
  #content {
    flex-direction: column-reverse;
    width: 80%;
    max-width: 500px;
    padding: 60px 0;
    min-width: 350px;
    text-align: left;
  }
}
