.content {
  box-sizing: border-box;
  margin: 0 auto;
  /* Total width = 60px + 840px + 60px = 960px */
  width: 840px;
  padding: 60px;
  line-height: 1.8;
}

.heading {
  margin-bottom: 40px;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.project-card {
  margin-bottom: 40px;
  padding: 15px 30px;
  box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
}

.project-card a {
  color: #2196F3;
}

.project-card svg {
  fill: #757575;
}

.project-card__header {
  box-sizing: border-box;
}

.project-card__header-text {
  font-weight: 300;
}

.project-card__header-text--title {
  margin: 10px 0;
  color: #2196F3;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.project-card__header-text--title a {
  text-decoration: none;
}

.project-card__header-text--title a:hover {
  color: #FFAA00;
}

.project-card__header-text--subtitle {
  margin: 10px 0;
}

.project-card__photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}

.project-card__photo-grid-element {
  height: 120px;
  box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
}

.project-card__photo-grid-element img {
  height: 100%;
}

.project-card__technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
  font-size: 16px;
}

.project-card__technology {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 160px;
  margin: 5px 10px 5px 0;
}

.project-card__technology-icon-container {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 3px solid #FFAA00;
  border-radius: 50%;
}

.project-card__technology-icon {
  width: 28px;
  height: 28px;
  margin: auto;
  margin-top: 6px;
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
}

.project-card__technology-name {
  width: 120px;
  max-width: 120px;
  color: #757575;
}

/*
  Project specific
*/

#slack-reservations-command .project-card__photo-grid-element img {
  width: 100%;
  height: inherit;
}

/*
  Mobile
*/

@media all and (max-width: 960px) {
  .content {
    width: 80%;
    max-width: 500px;
    padding: 60px 0;
    min-width: 350px;
  }

  .project-card__technology {
    width: 120px;
  }

  .project-card__technology-name {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
}
