:root {
  /* Colors  */

  --color-russian-blue: #2196F3;
  --color-orange-flash: #FFAA00;
  --color-old-rose: #C7254E;

  --color-black: #000000;
  --color-gray1: #111111;
  --color-gray3: #333333;
  --color-gray5: #555555;
  --color-gray8: #888888;
  --color-grayE: #EEEEEE;
  --color-granite-gray: #757575;

  --color-white-marble: #E8E8E8;
  --color-antique-white: #F0F0E0;
}
