body {
  background-color: var(--color-gray1);
  color: var(--color-white-marble);
  font-size: 22px;
  line-height: 36px;
}

#content {
  box-sizing: border-box;
  margin: 0 auto;
  /* Total width = 60px + 840px + 60px = 960px */
  width: 840px;
  padding: 60px;
}

@media all and (max-width: 960px) {
  #content {
    flex-direction: column-reverse;
    width: 80%;
    max-width: 500px;
    padding: 60px 0;
    min-width: 350px;
    text-align: left;
  }
}

/*
 Posts
*/

.posts {
  padding-left: 0;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 14px 0;
  gap: 15px;
}

.post a {
  /*Override default link styling*/
  color: var(--color-white-marble);
  text-decoration: none;
}

.post .post__domain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .post__domain img,svg {
  width: 26px;
  height: 26px;
}

.post .post__title {
}
